:root
{
  --intensity: .1;
  --contrasts: 255 255 255;
  --baselines: 0 0 0;

  --color-body: #0e0e0e;
  --color-text: #a0a0a0;
  --color-text-main: #fafafa;

  --outline: rgba( var( --contrasts ) / var( --intensity ) );
}