<!doctype html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{#article.meta}}{{#caption}}{{.}} / {{/caption}}{{title}}{{/article.meta}} ✦ Maštarija</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header id="header" class="header">
      <nav id="nav" class="nav wrap padd">
        <a id="logo" class="logo" href="#" title="Maštarija">
          <img id="logo-mark" class="logo-mark" src="/img/mastarija.svg" alt="Maštarija Logomark"/>
        </a>

        <ul id="main-menu" class="menu main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/code">Code</a></li>
        </ul>
      </nav>
    </header>

    <main id="main" class="main">
      <div id="page" class="page wrap padd">

        <article>
          {{#article}}
            {{#meta}}
              <header id="page_header" class="page_header">
                <h1 id="page_header_title" class="page_header_title">{{title}}</h1>
                {{#caption}}<p id="page_header_subtitle" class="page_header_subtitle">{{.}}</p>{{/caption}}
              </header>

              {{#excerpt}}<p id="page_intro" class="page_intro">{{.}}</p>{{/excerpt}}
            {{/meta}}

            {{{content}}}
          {{/article}}

          {{#hasChildren}}
          <ul id="post-list" class="post-list">
            {{#children}}
            <li>
              <article class="post-list_item">
                <a href="{{link}}" class="post-list_item_link">
                  {{#article}}
                    {{#meta}}
                    <header class="post-list_item_header">
                      <h2 class="post-list_item_title">{{title}}</h2>

                      <time class="post-list_item_date">
                        <span title="Day" class="post-list_item_date_day">{{ pubDate.d }}</span>.<span title="Month" class="post-list_item_date_month">{{pubDate.m}}</span>.<span title="Year" class="post-list_item_date_year">{{pubDate.y}}</span>
                      </time>

                      {{#caption}}<p class="post-list_item_subtitle">{{.}}</p>{{/caption}}
                    </header>
                    {{#excerpt}}<p class="post-list_item_intro">{{excerpt}}</p>{{/excerpt}}
                    {{/meta}}
                  {{/article}}
                </a>
              </article>
            </li>
            {{/children}}
          </ul>
          {{/hasChildren}}
        </article>

      </div>
    </main>

    <footer id="footer" class="footer">
      <div id="copy" class="copy wrap padd">
        <p>&copy; 2021 <a href="#">Maštarija</a>. All rights reserved.</p>
      </div>
    </footer>

    <script type="text/javascript" src="/jsc/main.js"></script>
  </body>
</html>
